				<br class="clear" />
			</div>
			<div id="footer">
				<p>Copyright &copy; PFS | Mortgage Brokers in Bella Vista, Sydney  | <span style="padding-left:150px;"><a href="/privacy-policy.shtml" style="color:#fff;">Privacy Policy</a></span></p>
			</div>
		</div>
		<!-- <div id="binarix">
			<p><a href="https://www.binarix.com" target="_blank">Website design and development in Sydney, by Binarix.</a></p>
		</div> -->

</body>
</html>