	<link rel="stylesheet" href="/includes/css/styles.css" type="text/css" media="screen" />
</head>
<body>
	<div id="wrap">
		<div id="bnnrWrap">
			<a href="/"><img src="/includes/templateimages/logo.gif" id="logo" alt="PFS Financial Services - Home Loans | Commercial Loans | Business Loans" title="PFS Financial Services - Home Loans | Commercial Loans | Business Loans" /></a>
			<div id="topBanner">PFS Financial Services, Bella Vista, NSW &nbsp;|&nbsp; <a href="index.shtml">Home</a> &nbsp;|&nbsp; <a href="news.shtml">News</a> &nbsp;|&nbsp; <a href="contact-us.shtml">Contact Us</a></div>
			<br class="clear" />
		</div>
		
		<div id="contentWrap">
			<div id="navWrap">
				<ul id="nav">
					<li><a href="why-pfs.shtml">Why PFS</a>
						<ul>
							<li><a href="what-is-a-mortgage-broker.shtml">What Is a Mortgage Broker?</a></li>
							<li><a href="the-pfs-process.shtml">The PFS Process</a></li>
						</ul>
					</li>
					<li><a href="award-winning.shtml">Award Winning</a></li>
					<li><a href="loans.shtml">Loans</a>
						<ul>
							<li><a href="home-and-investment-loans.shtml">Home &amp; Investment Loans</a></li>
							<li><a href="business-loans.shtml">Business Loans</a></li>
							<li><a href="commercial-loans.shtml">Commercial Loans</a></li>
							<li><a href="car-and-equipment-loans.shtml">Car &amp; Equipment Loans</a></li>
						</ul>
					</li>
					<li><a href="calculators.shtml">Calculators</a></li>
					<li><a href="links.shtml">Links</a></li>
					<li><a href="contact-us.shtml">Contact Us</a></li>
					<li><a href="news.shtml">News</a></li>
                    <li><a href="news.shtml">PFS in the Media</a></li>
				</ul>
			</div>